# OSX
.DS-Store
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Linux
.*
!.gitignore
*~

# Compass
.sass-cache/*

# Grunt
dist/

# Node.js
node_modules/
npm-debug.log

# Idea
.idea/
